.hb {
    background: none;
}
.hb {
    background: none;
}

.hb button:not(.close):not(.maximize):not(.minimize):not(.menu-button),
.hb .search-entry,
.hb button.close image, .hb button.maximize image, .hb button.minimize image {
    background: @osd_bg_color;
    color: @osd_fg_color;
    box-shadow: 0 2px 6px 2px rgba(0,0,0, 0.15),
                0 1px 2px 0   rgba(0,0,0, 0.3);
}

.search {
    border-radius: 999px;
}
.search-entry {
    border-radius: 999px;
    min-width: 210px;
    margin-right: 12px;
}

.menu-button {
    margin: 8px 0;
    padding: 0 12px;
    min-height: 48px;
    border-radius: 0;
    background: none;
}
.menu-button label {
    font-weight: 500;
}
.menu-button:hover {
    background: @accent_bg_color;
}
.menu-button:active {
    background: shade(@accent_bg_color, 0.98);
}

.bubble > box {
    background: @view_bg_color;
}

.bubble label {
    padding: 0 12px;
}

.wk-title {
    font-size: 18px;
    font-weight: 700;
}

.small-cb {
    background: @view_bg_color;
    margin: 12px;
    padding: 0 4px;
}
.small-cb:hover {
    background: @accent_bg_color;
    box-shadow: 0 1px 3px 1px alpha(black, 0.15),
                0 1px 2px 0 alpha(black, 0.3);
}
.small-cb:active {
    background: shade(@accent_bg_color, 0.98);
}
.small-cb image {
    padding: 0;
    margin: 0;
}

.txt {
    font-weight: 700;
    text-decoration: none;
    color: @accent_color;
    padding: 0;
    background: none;
    margin: 0 12px;
}

.txt:hover {
    box-shadow: 0 1px 3px 1px alpha(black, 0.15),
                0 1px 2px 0 alpha(black, 0.3);
}

.pix {
    margin: 0;
    border-radius: 0;
}

.night {
	filter: brightness(0.7) invert(1) contrast(3) hue-rotate(200deg) saturate(0.2) brightness(0.88);
}

.pill-button {
    padding: 8px 8px 8px 16px;
}